//imports 
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@600&display=swap');

//colors
$fond : rgb(223, 247, 238);
$meta_element : rgb(104, 104, 104);

//mixins
@mixin organizedposition {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

body{
    background-color: $fond;
    font-family: 'Noto Sans', sans-serif;
    min-height: 95vh;
    width: 95%;
    padding: 0 0em 0 2em;
    position: absolute;
    
    .accueil{
        min-height: 90vh;
        width: 95%;
        display: grid;
        align-content: center;

        .titleaccueil{
            @include organizedposition();
            text-align: center;
            margin-bottom: 30px;

            h1{
                font-family: 'Signika Negative', sans-serif;
                font-size: 50px;
                margin-top: 0px;
                margin-bottom: 20px;
            }

            #title_metatext{
                color: $meta_element;
                margin-bottom: 35px;
            }

            .separationline{
                width: 60%;
                border: 0.005em solid $meta_element;
                position: relative;
                left: 20%;
            }
            
        }
        
        .categories{
            @include organizedposition();
            
            .categorie a{
                width: 10em;
                height: 3em;
                margin: 1vw;
                border: 1px solid $meta_element;
                border-radius: 5px;
                display: grid;
                align-content: center;
                text-align: center;
                color: black;
                text-decoration: none;
            }
        }
    }
}
