@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@600&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 90vh;
  width: 90vw;
  margin-left: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.reduce_scale {
  -webkit-transform: scaleX(0.7);
  transform: scaleX(0.7);
  margin: 1em;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 45px;
  text-decoration: none;
  font-family: 'Signika Negative', sans-serif;
  font-size: 40px;
  color: white;
  background: #1a9159;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-box-shadow: 6px 6px 0 #063834;
          box-shadow: 6px 6px 0 #063834;
  -webkit-transform: skewX(-15deg);
          transform: skewX(-15deg);
}

.cta:focus {
  outline: none;
}

.cta:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 10px 10px 0 #5cf8e3;
          box-shadow: 10px 10px 0 #5cf8e3;
}

.cta span:nth-child(2) {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-right: 0px;
}

.cta:hover span:nth-child(2) {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-right: 45px;
}

span {
  -webkit-transform: skewX(15deg);
          transform: skewX(15deg);
}

span:nth-child(2) {
  width: 20px;
  margin-left: 30px;
  position: relative;
  top: 12%;
}

/**************SVG****************/
path.one {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: translateX(-60%);
          transform: translateX(-60%);
}

path.two {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateX(-30%);
          transform: translateX(-30%);
}

.cta:hover path.three {
  -webkit-animation: color_anim 1s infinite 0.2s;
          animation: color_anim 1s infinite 0.2s;
}

.cta:hover path.one {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-animation: color_anim 1s infinite 0.6s;
          animation: color_anim 1s infinite 0.6s;
}

.cta:hover path.two {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-animation: color_anim 1s infinite 0.4s;
          animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */
@-webkit-keyframes color_anim {
  0% {
    fill: white;
  }
  50% {
    fill: #5cf8e3;
  }
  100% {
    fill: white;
  }
}
@keyframes color_anim {
  0% {
    fill: white;
  }
  50% {
    fill: #5cf8e3;
  }
  100% {
    fill: white;
  }
}

.reposition {
  position: absolute;
  left: 6vw;
  bottom: 9vh;
}

.reposition .flip-horizontale {
  display: block;
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
}

.reposition .flip-horizontale .flip-h-word {
  display: block;
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
}
/*# sourceMappingURL=button-animation.css.map */